<p>
  <%= comment.name %>:
  <%= comment.comment %>
</p>

<%= link_to 'Delete', [comment.post, comment],
               method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
